/** BSSIC CSS **/
* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    padding-left: 0px;
    height: 100%;
    width: 100%;
    overflow-x:hidden;

}

.footer, .push {
    height: 5em;
    text-align: center;
}

a {
    color: #0D4D4D;
    text-decoration: none;
    cursor: pointer;
}
p {
    font-family: Verdana, Tahoma, sans-serif;
    padding: 15px;
    font-size: 1.3em; 
    line-height: 1.8em; 
    font-style: italic; 
    text-indent: 1.3em; 
    color: gray; 
}

.footer {
    border-top: thick solid #162955;
    background-color: #D4B16A;
    border-bottom: thick solid #162955;
}

h1 {
    color: #552700;
}

h3, h4{
    color:#805C15;
}

h5 {
    font-family: Verdana, Tahoma, sans-serif;
    color: #552700;
}

h1, h3, {
    padding: 2cm;
    font-family: Verdana, Tahoma, sans-serif;
}

.form_container form{
    border: 1px;
    border-color: #805C15;
}

.page-header {
    background-color: #226666;
    margin-top: 0;
    padding: 10px 40px 10px 60px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active, .page-header a{
    color: #669999;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -5em;
}
.top-menu, .top-menu:hover, .top-menu:visited {
    color: #7887AB;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

/** Forms CSS **/
input, textarea { 
    padding: 10px; 
    border: solid 2px #D4B16A; 
    outline: 0; 
    font: normal 14px/100% Verdana, Tahoma, sans-serif; 
    width: 200px; 
    background: #DDE3AA url('bg_form.png') left top repeat-x; 
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    } 
   
textarea { 
    width: 400px; 
    max-width: 400px; 
    height: 150px; 
    line-height: 150%; 
    } 
   
input:hover, textarea:hover, 
input:focus, textarea:focus { 
    background: #FFD1AA url('bg_form.png') left top repeat-x; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; 
    }

form h1 {
    color: #805C15;
} 

form{
    border: 2px solid #804515;
    border-radius: 4px;
    width: 500px;
    padding: 3px 4px; 
    background: #FFE3AA;
}

form p label { 
    width: auto; 
    padding: 10px 12px; 
    background: #FFE3AA; 
    border: 1; 
    font-size: 16px; 
    color: #805C15; 
    -moz-border-radius: 5px; 
    border-color: #AA6C39;
}
   
.submit input { 
    width: auto; 
    padding: 12px 15px; 
    background: #FFE3AA; 
    border: 1; 
    border-radius: 4px;
    font-size: 16px; 
    color: #805C15; 
    -moz-border-radius: 5px; 
    border-color: #AA6C39;
    -webk
}

.left {
    float: left;
    width: 50%;
    height: 100%;
    border-right: thick solid #162955;
}

.right {
    width: 50%;
    margin-left: 50%;
    height: 100%;
}


.right h1{
    text-align: center;
}

.left h1{
    text-align: center;
}

.right h1, p, h3 {
    padding-left: 15px;
}

/**TABLE CSS */
table{
    margin-left:auto;
    margin-right:auto;
}
table caption{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 24px;
    color: #669999;
}
table, th, td {
    border: 1px solid #804515;
    border-collapse: collapse;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
}
th, td {
    padding: 5px;
}

th {
    background: #AA8439;
    font-weight: bold;
}

/* Cells in even rows (2,4,6...) are one color */ 
tr:nth-child(even) td { background: #D4B16A; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
tr:nth-child(odd) td { background: #FFE3AA; }  

tr td:hover { background: #AA6C39; color: #FFD1AA; } /* Hover cell effect! */